**/CMakeCache.txt
**/CMakeFiles
**/Makefile
libadaflo.*
**/CTestTestfile.cmake
**/cmake_install.cmake
*~
applications/drivencavity
applications/micro_particle
applications/periodic_channel
tests/beltrami
tests/flow_past_cylinder
tests/phasefield_poiseuille
tests/poiseuille
tests/rising_bubble
tests/spurious_currents
tests/output-*
Testing/
